*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: digital7;
    src: url(digital-7\ \(mono\ italic\).ttf);
}

body{   
    background:#d3bbc1;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.digital-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;         
    border-radius:69px;
    background: #d3bbc1;
    box-shadow: inset 25px 25px 49px #98878b,
            inset -25px -25px 49px #ffeff7;
    animation: animate 0.5s linear infinite;
    font-family: 'digital7';
    .time{
         color: #444041;                
         
         font-size: 50px; 
         
    }
  }